sentence_transformers
langchain
openai
tqdm
asyncio
scikit-learn
tiktoken
umap-learn
altair
hdbscan
bubble_api
instructor
datasets
#cohere
#mistralai
openpyxl
seaborn
pyarrow==14.0.1
pandas==1.5
python-dotenv